.statisticsSection {
  height: 146px;
}
.statistics {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.statBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 419px;
  min-width: 250px;
  height: 146px;
  gap: 32px;
}
.statH3 {
  margin: 0;
}

@media (max-width: 768px) {
  .statistics {
    gap: 8px;
  }
  .statBlock {
    min-width: 208px;
    width: 100%;
    gap: 8px;
  }
  .statH2 {
    font-size: 3rem;
  }
  .statH3 {
    font-size: 1.8rem;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .statisticsSection {
    height: 500px;
  }
  .statBlock {
    width: 100%;
    min-width: 100%;
  }
  .statisticsBlok {
    flex-direction: column;
  }
  .statistics {
    flex-wrap: wrap;
  }
}
