.StarshipContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.StarshipSlider {
  width: 100%;
  max-width: 1440px;
}
.StarshipImg {
  width: 1440px;
  height: 834px;
  position: relative;
  overflow: hidden;
}
.StarshipBlock {
  display: flex;
  gap: 32px;
  flex-direction: column;
  width: 1321px;
  height: 366px;
  position: absolute;
  left: 60px;
  margin-top: 436px;
}
.StarshipCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 453px;
  height: 272px;
  gap: 24px;
}
.StarshipH2 {
}
.StarshipP {
  width: 453px;
  margin: 0px;
  line-height: 24px;
}
.navContainerStarship {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navButton {
  background: none;
  border: none;
  cursor: pointer;
}
.navButtonDisabled {
  cursor: not-allowed;
}
.navIcon {
  width: 24px;
  height: 24px;
}
.StarshipDotsContainer {
  display: flex;
  gap: 8px;
  margin: 0 20px;
}
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dotActive {
  opacity: 1;
  background-color: #fff;
}
/* Для екранів до 768px */
@media (max-width: 768px) {
  .StarshipContainer {
    width: 768px;
  }
  .StarshipBlock {
    width: 85%;
    left: 60px;
  }
  .StarshipImg {
    width: 100%;
    object-fit: cover;
  }
  .navContainerStarship {
    width: 648px;
  }
}

/* Для екранів до 480px */
@media (max-width: 480px) {
  .StarshipContainer {
    width: 480px;
  }
  .StarshipBlock {
    width: 72.5%;
    left: 60px;
  }
  .StarshipCard {
    width: 100%;
    max-width: 340px;
  }
  .StarshipP {
    width: 100%;
    max-width: 300px;
    font-size: 12px;
  }
  .StarshipImg {
    width: 34%;
    object-fit: cover;
  }
  .slick-slide img {
    width: 34%;
    object-fit: cover;
  }
  .navContainerStarship {
    width: 300px;
  }
  .dot {
    width: 8px;
  }
}
