body {
  font-family: Rubik, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  width: 1440px;
  height: 4131px;

  background: rgba(50, 38, 89, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url("./images//toy-rocket.gif.gif");
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 1);
}
main {
}
section {
  width: 1321px;
}
h1 {
  color: rgba(255, 255, 255, 1);
  font-family: Rubik;
  font-size: 100px;
  font-weight: 700;
  line-height: 118.5px;
  text-align: left;
  width: 583px;
  height: 357px;
  margin-top: 48px;
  margin-left: 32px;
  text-transform: uppercase;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin: 0px;
  height: 76px;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  margin-top: 32px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
}

p {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

img {
}

/* Загальні стилі для секції */
section.dragon-info-section {
  --bs-body-bg: #000;
  --bs-body-bg-rgb: 0, 0, 0;
  --bs-body-color: #fff;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-border-radius: 0;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font: 16px/24px Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  height: auto; /* Автоматична висота для адаптивності */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.dragon-info-slider {
  width: 80%; /* Для адаптивності на різних екранах */
  max-width: 1321px; /* Максимальна ширина секції */
  margin: 0 auto;
  display: block;
  position: relative;
}

.dragon-info-slide {
  list-style: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #333; /* Трохи змінений колір для контрасту */
  color: white;
}

.dragon-info-slide img {
  width: 100%;
  height: auto;
  max-height: 219px;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.dragon-info-slide h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

.dragon-info-slide p {
  font-size: 16px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}
