body {
  font-family: Rubik, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 48px 60px 100px 60px;
  background: rgba(50, 38, 89, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url("./images//toy-rocket.gif.gif");
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 1);
  width: 1440px;
  height: 4131px;
}
section {
  margin-bottom: 100px;
}
h1 {
  color: rgba(255, 255, 255, 1);
  font-family: Rubik;
  font-size: 100px;
  font-weight: 700;
  line-height: 118.5px;
  text-align: left;
  width: 583px;
  height: 357px;
  margin-top: 48px;
  margin-left: 32px;
  text-transform: uppercase;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  height: 76px;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
}

p {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 12px;
}

img {
  margin-left: auto;
  margin-right: auto;
}
