body {
  font-family: Rubik, sans-serif;
  font-style: normal;
  margin: 0;
  /* width: 1440px;
  height: 4131px; */
  background-color: #000;
  position: relative;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-family: Rubik;
  font-size: 6.25rem;
  font-weight: 700;
  /* line-height: 118.5px; */
  margin: 0px;
  text-transform: uppercase;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin: 0px;
  font-size: 4rem;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  margin-top: 32px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

p,
a {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

.dragon-info-slider {
  width: 80%; /* Для адаптивності на різних екранах */
  max-width: 1321px; /* Максимальна ширина секції */
  margin: 0 auto;
  display: block;
  position: relative;
}

.dragon-info-slide {
  list-style: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #333; /* Трохи змінений колір для контрасту */
  color: white;
}

.dragon-info-slide img {
  width: 100%;
  height: auto;
  max-height: 219px;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.dragon-info-slide h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

.dragon-info-slide p {
  font-size: 16px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}

/* Контейнер для стрілок і точок */
.navigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 1321px;
  height: 62px;
  margin: 0 auto;
}

/* Контейнер для точок */
.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 12px;

  height: 16px;
  margin: 0 auto;
}

/* Стиль для кожної точки */
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1;
  background-color: #fff;
}

/* Для спінера*/
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
div.slick-slide {
  display: block !important; /* Переконайтесь, що слайди видимі */
  height: auto;
}

/* Для екранів до 768px*/
@media (max-width: 768px) {
  .h2 {
    font-size: 3.5rem;
  }
  .navigationContainer {
    width: 700px;
  }
  /* .our-rocket-container {
    gap: 16px;
  }

  .rocket-card {
    width: 300px;
    height: 450px;
    padding: 16px;
  }

  .rocket-card-inner {
    width: 260px;
    height: 400px;
    padding: 16px;
  }

  .rocket-image {
    width: 260px;
    max-height: 180px;
  }

  .rocket-specs {
    width: 260px;
  } */
}

/* Для екранів до 480px */
@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 16px;
  }
  .title {
    font-size: 4rem;
    margin-left: 24px;
  }
  .slick-slider {
    width: 1321px;
  }

  .navigationContainer {
    width: 100%;
  }

  /* .our-rocket-container {
    gap: 8px;
  }

  .rocket-card {
    width: 250px;
    height: 400px;
    padding: 12px;
  }

  .rocket-card-inner {
    width: 230px;
    height: 350px;
    padding: 12px;
  }

  .rocket-image {
    width: 230px;
    max-height: 150px;
  }

  .rocket-specs {
    width: 230px;
  } */
}
